@font-color-bar-input: #840096;
@background-color-bar-input: #41d3ce;

@font-color-bar-mode: #ff006a;
@background-color-bar-mode: #3d3d3d;

@font-color-item-even: #00bbff;
@background-color-item-even: #3d3d3d;

@font-color-item-odd: #ffff00;
@background-color-item-odd: #5e5e5e;

@font-color-item-selected: #ffffff;
@background-color-item-selected: #00e000;
@background-color-item-tip-selected: #ff006a;

@font-color-link-hint: #000000;
@background-color-link-hint: #00ffff;
@border-color-link-hint: #3d3d3d;
@font-color-link-hint-match: #757575;

@font-color-hud: #ffffff;
@background-color-hud: rgba(22, 152, 50, 0.9);
