@import "public/colors";
@import "public/base";

#cVim-hud, #cVim-status-bar {
  #base > .font(@font-size, @font-family) !important;
}

@cVime-hud-width: 120px;
@cVime-hud-height: 25px;

#cVim-hud {
  width: @cVime-hud-width;
  height: @cVime-hud-height;
  padding-left: 5px;
  background-color: @background-color-hud;
  position: fixed !important;
  transition: right 1s ease-out;
  z-index: @z-index;
}

#cVim-hud span {
  display: block !important;
  font-weight: bold;
  width: @cVime-hud-width;
  height: @cVime-hud-height;
  line-height: @cVime-hud-height;
  color: @font-color-hud;
  font-size: @font-size !important;
}