@import "public/colors";
@import "public/base";

#cVim-link-container, .cVim-link-hint {
  #base > .font(@font-size, @font-family) !important;
}

#cVim-link-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: @z-index;
}

.cVim-link-hint {
  position: absolute;
  display: block !important;

  color: @font-color-link-hint !important;
  background-color: @background-color-link-hint !important;
  border: 1px solid @border-color-link-hint;

  border-radius: 8px !important;
  padding: 2px 5px !important;
  font-size: 12px !important;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6) !important;

  font-weight: bold !important;
  text-transform: uppercase !important;
  vertical-align: middle !important;
  text-align: center !important;

  .cVim-link-hint_match {
    color: @font-color-link-hint-match;
    text-transform: uppercase !important;
  }
}